.delivering__tittle {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: #212B31;
  text-align: center;
  margin-bottom: 21px;
}
.delivering__text {
  max-width: 643px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #72787D;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 43px;
}
.delivering__menu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 22px;
}
.delivering__text-bottom {
  margin: 0;
  padding: 0;
  margin-top: -33px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #72787D;
  text-align: center;
}
.delivering__span {
  color: #212B31;
  margin-right: 4px;
}
